/* Import Font & Icons */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=content_copy');

/* Stylings */
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: var(--font);
    color: var(--primary);
    background: var(--background);
    --font: "Montserrat", sans-serif;
    --primary: #2D4E6A;
    --secondary: #E4F3FA;
    --background: #BFE3F1;
}

/* Containers */
.content{
    margin: 0;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container{
    width: 80%;
    max-width: 600px;
}

/* Logo Stylings */
.logo-section{
    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
}

.logo-section img{
    height: 90px;
    user-select: none;
}

.logo-section h1{
    padding: 0 30px;
}

/* Options */
.options-view{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}

.options-input{
    padding: 5px 0px;
    position: relative;
    display: inline-block;
}

.options-input label{
    font-size: 1rem;
    font-weight: bold;
}

.options-input input,
.options-input select{
    margin: 2px 0;
    padding: 10px 10px;
    background: var(--secondary);
    border: 4px solid var(--primary);
    border-radius: 12px;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary);
    width: 100%;
    box-sizing: border-box;
}

/* Result box */
.result input{
    background: var(--primary);
    color: var(--secondary);
}

/* Improve input/select stylings */
input::placeholder,
textarea::placeholder,
select option:disabled{
    color: inherit;
    font-weight: 300;
  }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Copy Clipboard Notice */
.copy-notice, .copy-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    color: var(--secondary);
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.copy-notice.visible {
    opacity: 1;
}

.options-input:hover .copy-icon {
    opacity: 1;
    pointer-events: auto;
}

.copy-notice.visible ~ .copy-icon {
    opacity: 0;
}

/* Link stylings */
a{
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: inherit;
    text-decoration: underline;
}

/* Print view */
@media print{
    .result input{
        background: var(--primary) !important;
        color: var(--secondary) !important;
    }
}